#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  justify-content: center;
  gap: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  border: 1px solid #ccc;
  cursor: pointer;
}

.cell.selected {
  background-color: lightcoral; /* highlighted cell */
}

.cell.active {
  background-color: lightgreen; /* highlighted cell */
}
